# IntelliJ / Android Studio
*.iml
.idea/
.gradle/

# Build folders
build/
**/build/

# Local config
local.properties

# macOS
.DS_Store

# Android NDK / Native
.externalNativeBuild/
.cxx/

# Kotlin / KMP / Native
.konan/
**/*.klib
**/*.kexe

# iOS / Xcode
iosApp/build/
iosApp/DerivedData/
iosApp/*.xcworkspace/
iosApp/Pods/
**/xcuserdata/
